.title_main {
    margin: 0;
    font: var(--font-title-main);
}
.title_min {
    margin: 0;
    font: var(--font-title-subtitle);
}

.menu_text {
    margin: 0;
    font: var(--font-title-subtitle);
}

.btn_text {
    margin: 0;
    font: var(--font-title-subtitle);
}

.section_title {
    margin: 0;
    text-align: center;
    font: var(--font-size-section-block);
    @include for-576 {
        font: var(--font-size-26-section);
    }
}

.text {
    margin: 0;
    font: var(--font-text);
}
